<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Mail Chimp</h4>
                        
                    </div>
                    <div class="content">

                        <div class="typo-line">
                            <h1><p class="category">Header 1</p> Heading-1 </h1>
                        </div>

                        <div class="typo-line">
                            <h2><p class="category">Header 2</p>Heading-2</h2>
                        </div>
                        
                        <div class="typo-line">
                            <p><span class="category">Paragraph</span></p>
                        </div>
                        <div class="typo-line">
                            <p class="category">Quote</p>
                            <blockquote>
                                <p>
                                    
                                </p>
                                <small>
                                    
                                </small>
                            </blockquote>
                        </div>

                        <div class="typo-line">
                            <p class="category">Muted Text</p>
                            <p class="text-muted">
                                
                            </p>
                        </div>
                        <div class="typo-line">
                            <!--
                            there are also "text-info", "text-success", "text-warning", "text-danger" clases for the text
                            -->
                            <p class="category">Coloured Text
                            </p>
                            <p class="text-primary">
                                 Primary
                            </p>
                            <p class="text-info">
                                Info
                            </p>
                            <p class="text-success">
                                 Success 
                            </p>
                            <p class="text-warning">
                                 Warning 
                            </p>
                            <p class="text-danger">
                                 Danger 
                            </p>
                        </div>
                        <div class="typo-line">
                            <h2><p class="category">Small Tag</p>Header with small subtitle <br><small>".small" is a tag for the headers</small> </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
