<div class="main-content"style="background-color: #333;color:white;">

    <div class="row" style="margin-top: 30px;">

        <!-- Map -->
        <div class="col-md-6" style="float: left; width: 50%;">
            <iframe src="/assets/map.html" width="100%" height="800"></iframe>
        </div>

        <!-- Statistics -->
        <div class="col-md-6" style="float: left; width: 50%; color: black;">
            <div class="row">
                <div class="col-md-12">
                    <lbd-chart
                        [title]="'Email Statistics'"
                        [subtitle]="'Emails opened'"
                        [chartType]="activityChartType"
                        [chartData]="activityChartData"
                        [chartOptions]="activityChartOptions"
                        [chartResponsive]="activityChartResponsive"
                        [legendItems]="activityChartLegendItems"
                        [withHr]="true"
                        [legendItems]="activityChartLegendItems"
                        [footerIconClass]="'fa fa-check'">
                    </lbd-chart>
                </div>
                <div class="col-md-12">
                    <div class="card postal-card">
                        <div class="stamp"></div>
                        <lbd-chart
                            [title]="'Email Statistics'"
                            [subtitle]="'Last Campaign Performance'"
                            [chartClass]="'ct-perfect-fourth'"
                            [chartType]="emailChartType"
                            [chartData]="emailChartData"
                            [legendItems]="emailChartLegendItems"
                            [withHr]="true"
                            [footerIconClass]="'fa fa-clock-o'"
                            [footerText]="'Campaign sent 2 days ago'">
                        </lbd-chart>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
