<div class="login-container" filter-color="black">
  <div class="login-box">
    <h2 class="text-center">SIGN IN</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <input type="text" formControlName="firstName" class="form-control" placeholder="First Name...">
      </div>
      <div class="form-group">
        <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name...">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Get Started</button>
      </div>
    </form>
    <div class="text-center create-account-link">
      <a href="#">Create Account</a>
    </div>
  </div>
</div>



  