.login-container {
  background: url('/assets/img/EV_Bg.jpeg') no-repeat center center fixed;
  
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background: rgba(3, 5, 14, 0.72); /* Semi-transparent background */
  padding: 40px;
  border-radius: 8px;
  width: 500px;
  color: #ffffff;
  font-weight: bold;

  h2 {
    margin-bottom: 20px;
  }

  .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 20px;
    color: #ffffff;
    &::placeholder {
      color: #ffffff;
    }
    &:focus {
      background-color: transparent;
      color: #ffffff;
    }
  }

  .btn-primary {
    color: #ffffff;
    background-color: #d56fdb;
    border-color: #ba94cd;
    &:hover {
      background-color: #d56fdb;
      border-color: #d56fdb;
    }
  }

  .create-account-link {
    margin-top: 15px;
  }
}
